*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #080705;
    color: #ffff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 21vmin;
    width: 21vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 20vmin;
    width: 20vmin;
    object-fit: cover;
   
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 2rem;
}

.choice:hover {
    cursor: pointer;
    opacity: 0.5;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
}
#user-score , #comp-score{
    font-size: 5rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #080705;
    color: #ffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

   
}

@media only screen and (max-width : 768px){
    .choices{
        gap: 10vmin;
    }
    #user-score , #comp-score{
        font-size: 15vmin;
    }
    #msg{
        font-size: 5vmin;
    }
    .score-board{
        font-size: 8vmin;
    }

}